:root 
{
    /* Bootstrap vars */
    --bs-font-sans-serif: 'Poppins', sans-serif;
    // --bs-navbar-brand-font-size: 5rem;

    --bs-primary: #ffb03b; // This is correct for the hex value
    --bs-primary-rgb: 255, 176, 59; // This is the correct RGB format
    /* Theme vars */

    /* Icon font family */
    
    
    /* Custom checkbox styles */

    /* theme breakpoints using Bootstrap sass map */

    /* theme max widths using sass map */

    /* Listing Page */

    /* Listing page psuedo hover element height. This is amended with JS */

    /* Swiper overrides */

    /* Swiper spacing, used in card-expand */

    /* Custom translate styles */


    
} 