<section id="menu" class="menu bg-white">
    <div class="container ">

      <div class="d-flex align-items-center justify-content-center">
        <h4 class="fw-bold text-fiord">Check our tasty <span class="text-primary">Menu</span></h4>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-filters" class="d-flex flex-row list-unstyled ">
            <li data-filter="*" class="filter-active">Show All</li>
            <li data-filter=".filter-starters">Starters</li>
            <li data-filter=".filter-salads">Salads</li>
            <li data-filter=".filter-specialty">Specialty</li>
          </ul>
        </div>
      </div>

      <div class="row gx-3 menu-container" style="position: relative; height: 375px;">

        <div class="col-lg-6 menu-item filter-starters" >
          <div class="menu-content">
            <a class="fw-semibold text-primary" href="#">Lobster Bisque</a>
            <span class="fw-semibold px-3 z-1 bg-white">$0.89</span>
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada fehrbelliner platz
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content ">
            <a class="fw-semibold text-primary" href="#">Bread barrel</a>
            <span class="fw-semibold  px-3 z-1 bg-white"> $6.95</span>
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a class="fw-semibold text-primary" href="#">Crab Cake</a>
            <span class="fw-semibold  px-3 z-1 bg-white">$7.95</span>
          </div>
          <div class="menu-ingredients">
            A delicate crab cake served on a toasted roll with lettuce and tartar sauce
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads" >
          <div class="menu-content">
            <a class="fw-semibold text-primary" href="#">Caesar Selections</a>
            <span class="fw-semibold  px-3 z-1 bg-white">$8.95</span>
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty" >
          <div class="menu-content">
            <a class="fw-semibold text-primary" href="#">Tuscan Grilled</a>
            <span class="fw-semibold  px-3 z-1 bg-white">$9.95</span>
          </div>
          <div class="menu-ingredients">
            Grilled chicken with provolone, artichoke hearts, and roasted red pesto
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters" >
          <div class="menu-content">
            <a class="fw-semibold text-primary" href="#">Mozzarella Stick</a>
            <span class="fw-semibold  px-3 z-1 bg-white">$4.95</span>
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads" >
          <div class="menu-content">
            <a class="fw-semibold text-primary" href="#">Greek Salad</a>
            <span class="fw-semibold  px-3 z-1 bg-white">$9.95</span>
          </div>
          <div class="menu-ingredients">
            Fresh spinach, crisp romaine, tomatoes, and Greek olives
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads" >
          <div class="menu-content">
            <a class="fw-semibold text-primary" href="#">Spinach Salad</a>
            <span class="fw-semibold  px-3 z-1 bg-white">$9.95</span>
          </div>
          <div class="menu-ingredients">
            Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty" >
          <div class="menu-content">
            <a class="fw-semibold text-primary" href="#">Lobster Roll</a>
            <span class="fw-semibold  px-3 z-1 bg-white">$12.95</span>
          </div>
          <div class="menu-ingredients">
            Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
          </div>
        </div>

      </div>

    </div>
  </section>