<section id="why-us" class="why-us">
    <div class="container">

      <div class="d-flex flex-column justify-content-center align-items-center pb-5">
        <h4 class="text-fiord fw-bold">Why choose <span class="text-primary">Our Restaurant</span></h4>
        <p class="w-40 text-center fw-light">Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>

      <div class="row gx-4">

        <div class="col-lg-4">
          <div class="card">
            <span >01</span>
            <h5 class="card-title">Lorem Ipsum</h5>
            <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <span>02</span>
            <h5 class="card-title">Repellat Nihil</h5>
            <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <span>03</span>
            <h5 class="card-title"> Ad ad velit qui</h5>
            <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
          </div>
        </div>

      </div>

    </div>
  </section>