<!doctype html>
<html lang="en">
{{ include 'header/head/head' title=config.defaultPageTitle }}
<body>
<!-- Header -->
<header>
  <!-- Navbar -->

  {{ include 'navbar' }}

 
  <!-- /Navbar -->

  <!-- Main Section -->
    <!-- Carousel -->
     {{ include 'carousel' }}
    <!-- /Carousel -->

    <!-- About -->
    {{ include 'about' }}
    <!-- /About -->

    <!-- Why Us -->
    {{ include 'why-us' }}
    <!-- /Why Us -->

    <!-- Menu -->
    {{ include 'menu' }}
    <!-- /Menu -->

    <!-- Special -->
     {{ include 'specials' }}
     <!-- /Special -->
    

  <!-- /Main Section -->
</header>
<!-- /Header -->
{{ include 'footer/scripts' }}
</body>
</html>
